<body>

    <main>

            <div class="acesso-rapido">

                <span class="titulo">
                    <h1>Acesso rápido</h1>
                </span>

                <div class="acesso-rapido-interno">

                    <img id="icon1-prof" src="../../../../assets/Group 10.svg" (click)="navegar('dashboard/banco-de-questoes')">

                    <img id="icon3-prof" src="../../../../assets/Group 2 (1).svg" (click)="navegar('dashboard/corrigir-provas')">

                    <img id="icon5-prof" src="../../../../assets/Group 9.svg" (click)="navegar('dashboard/visualizar-estatistica')">

                </div>


            </div>



        <div class="segundo">

            <div class="desempenho-numeros">

                <span class="numeros">

                    <h1>58</h1>
                    <h2>Provas enviadas</h2>

                </span>
                <span class="numeros">

                    <h1>40</h1>
                    <h2>Provas concluídas</h2>

                </span>
                <span class="numeros">

                    <h1>32</h1>
                    <h2>Notas > 7</h2>

                </span>

            </div>
            <div class="desempenho">

                <h1>Desempenho médio</h1>
                <img id="graficos" src="../../../../assets/grafico3.png">

            </div>
            <div class="desempenho">

                <h1>Tempo médio</h1>
                <img id="graficos" src="../../../../assets/gráfico4.png">

            </div>

        </div>

    </main>

</body>