<h1 mat-dialog-title>Criar uma Conta</h1>
<div mat-dialog-content>
  <p>preencha os campos a seguir</p>
  <mat-form-field appearance="fill">
    <mat-label>Nusp</mat-label>
    <input matInput [(ngModel)]="usuario.id">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="usuario.nome">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput [(ngModel)]="usuario.login">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="usuario.senha">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Disciplina</mat-label>
    <input matInput [(ngModel)]="usuario.disciplina">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select matInput [(ngModel)]="usuario.tipo">
      <mat-option value="Professor">Professor</mat-option>
      <mat-option value="Aluno">Aluno</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="div_button">
  <button class="send" mat-raised-button (click)="onAdd()" color="primary" mat-dialog-close>Confirmar</button>
  <button class="cancel" mat-raised-button mat-dialog-close cdkFocusInitial color="warn">Cancelar</button>
</div>