<body>
  <div>

    <span mat-dialog-close>
      <img src="../../../../assets/icons8-person-96 1.svg">
      <h1>Perfil</h1>
    </span>

    <span mat-dialog-close>
      <img src="../../../../assets/icons8-windows-10-personalization-100 1.svg">
      <h1>Preferências</h1>
    </span>

    <span mat-dialog-close>
      <img src="../../../../assets/icons8-help-100 1.svg">
      <h1>Ajuda</h1>
    </span>

    <span (click)="saiu()" mat-dialog-close>
      <img src="../../../../assets/icons8-logout-96 1.svg">
      <h1>Sair</h1>
    </span>
  </div>



</body>