<body>

    <main>
        <div class="primeira">

            <div class="acesso-rapido">

                <span class="titulo">
                    <h1>Acesso rápido</h1>
                </span>

                <div class="acesso-rapido-interno">

                        <img id="icon1" src="../../../../assets/Group 3.svg" (click)="this.navegar('dashboard/realizar-prova')">

                        <img id="icon2" src="../../../../assets/Group 2.svg" (click)="this.navegar('dashboard/visualizar-correcoes')">
                        
                        <img id="icon3" src="../../../../assets/Group 8.svg" (click)="openDialogSuporte()">
                        
                </div>
           

            </div>

            <div class="avisos">

                <span class="titulo2">
                    <h1>Avisos</h1>
                </span>

                <div class="avisos-interno">

                    <img src="../../../../assets/icons8-expired-100 1.svg">
                    <h1>Existem 2 provas que irão expirar nas próximas 48 horas!
                        <br>
                    <a>Clique aqui para iniciá-las</a></h1>
                    

                </div>


            </div>

        </div>

        <div class="segundo">

            <div class="desempenho-numeros">
            
                <span class="numeros">

                    <h1>12</h1>
                    <h2>Provas recebidas</h2>

                </span>
                <span class="numeros">

                    <h1>10</h1>
                    <h2>Provas concluídas</h2>
                    
                </span>
                <span class="numeros">

                    <h1>9</h1>
                    <h2>Notas > 7</h2>
                    
                </span>

            </div>
            <div class="desempenho">
            
                <h1>Desempenho médio</h1>
                <img id="graficos" src="../../../../assets/gráfico1.png">

            </div>
            <div class="desempenho">

                <h1>Tempo médio</h1>
                <img id="graficos" src="../../../../assets/gráfico2.png">

        </div>

        </div>

    </main>

</body>